body {
    background-color: lightcyan;
}

h1 {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 20px
}

.cards {
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
}

.card-container {
    text-align: center;
}

.add-button {
    padding: 20px;
    text-align: center;
}