body {
    background-color: lightcyan;
}

h1 {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.card-container {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}